########################
## Files              ##
########################

------------------------
.gitattributes
------------------------
*.class
*.jar
------------------------
gradlew
gradlew.bat
------------------------

########################
## Folders            ##
########################

------------------------
.gradle/
.vscode/
------------------------
build/
gradle/
------------------------
